@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 0;

  .checkout-header {
    width: 110%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 10%;
      }
      .text {
        font-family: "Varela Round", sans-serif;
        font-size: 18px;
      }
    }
  }

  .total {
    margin-top: 50px;
    margin-left: auto;
    font-size: 36px;
  }
}
